.article-list {

}
.article-list__article {

}

// Meta
// -------------------------------------------------------------------------- //
.article-meta {
  @include columns(2);
  line-height: 1.5;
  padding-top: 4px;
}
.article-meta__item {
  margin-bottom: 20px;
}
.article-meta__title {
  font-size: 14px;
  color: $white;
  font-family: $sans;
  font-weight: bold;
}
.article-meta__details {
  font-size: 15px;
}

// Article
// -------------------------------------------------------------------------- //
.article {
  margin-bottom: 100px;
}

.article__title-container {
  @include row;
}
.article__title {
  @include columns(8);
  @include offset(2);
  position: relative;
  padding-bottom: 29px;
  // margin-left: 190px;
  // margin-right: 190px;
  // width: 740px;
  margin-bottom: 20px;
  font-size: 42px;
  font-family: $sans;
  font-weight: bold;
  color: $white;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 2px;
    background-color: $dash;
  }
}

.article__title--small {
  font-size: 33px;
}


.article__title-link {
  color: $primary;
  font-weight: bold;
}
.article__content {
  @include row;
}
.article__description {
  @include columns(8);
  line-height: 1.5;
}

.article__body {
  @include columns(8);

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-family: $sans;
    font-weight: bold;
    color: $white;
    // color: lighten($text, 10%);
  }

  h1 {

  }
  h2 {
    margin-top: 56px;
    font-size: 34px;
  }
  h3 {
    margin-top: 31px;
    font-size: 26px;
  }
  h4 {

  }
  h5 {

  }
  h6 {

  }

  p, ol, ul {
    margin-bottom: 29px;
  }

  p {
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  li {
    margin: 0 0 14px 30px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  img {
    width: 100%;
    margin: 10px 0;
  }

  code {
    font-family: $mono;
    background-color: lighten($background,9%);
    padding: 4px 5px 2px;
    font-size: 18px;
    // color: lighten($text,9%);
  }

  pre {
    font-family: $mono;
    background-color: lighten($background,9%) !important;
    padding: 14px 18px;
    margin: 38px 0;

    code {
      padding: 0;
    }
  }
  .highlight {
    // background-color: lighten($background, 10%);
  }

}
