.work-list {

}
.work-list__work {

}

// work
// -------------------------------------------------------------------------- //
.work {
  margin-bottom: 100px;
}

.work__title-row {
  @include row;
}
.work__title-column {
  @include columns(8);
  @include offset(2);
}
.work__client {
  font-size: 21px;
  font-family: $sans;
  font-weight: bold;
  color: $white;
  margin-bottom: 10px;
}
.work__title {
  position: relative;
  padding-bottom: 29px;
  margin-bottom: 20px;
  font-size: 53px;
  font-family: $sans;
  font-weight: bold;
  color: $white;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 2px;
    background-color: $dash;
  }
}


.work__title-link {
  color: $primary;
  font-weight: bold;
}
.work__content {
  @include row;
}

.work__body {
  @include columns(8);
}

// Description
// ----------------------------------------- //
.work__description {
  line-height: 1.5;
}
.work__description-link {

}
.work__description-icon {
  fill: $primary;
  margin-left: 8px;
  position: relative;
  top: -1px;
}

// Index
// ----------------------------------------- //
.work__index {
  font-family: $sans;
  font-weight: bold;
  font-size: 226px;
  color: #31312a;
  line-height: 0;
  margin: 0 0 0 -9px;
  line-height: 0.9;
}

// Featured image
// ----------------------------------------- //
.work__featured-image {
  position: relative;
  img {
    position: relative;
    width: 100%;
  }
}
.work__featured-image--buick-enclave-ragal-tourx {
  img {
    transform: scale(1.705);
    left: 113px;
    top: -72px
  }
}
.work__featured-image--nda-calendar-app {
  img {
    transform: scale(1.705);
    left: 113px;
    top: -72px
  }
}
