.work-list {

}
.work-list__work {

}

// work
// -------------------------------------------------------------------------- //
.work {
  margin-bottom: 60px;

  @media (max-width: $breakSml) {
    margin-bottom: 40px;
  }
}

.work__title-row {
  @include row;
}
.work__title-column {
  @include columns(8);
  @include offset(2);

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}

// Client
// ----------------------------------------- //
.work__client {
  font-size: 21px;
  font-family: $sans;
  font-weight: bold;
  color: $white;
  margin-bottom: 10px;
  text-indent: -2px;

  &.is-nda {
    text-decoration: line-through;
  }

  @media (max-width: $breakSml) {
    text-indent: -1px;
    font-size: 20px;
    margin-bottom: 5px;
  }
}

// Title
// ----------------------------------------- //
.work__title {
  position: relative;
  padding-bottom: 29px;
  margin-bottom: 20px;
  font-size: 53px;
  font-family: $sans;
  font-weight: bold;
  color: $white;
  text-indent: -3px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 2px;
    background-color: $dash;
  }

  @media (max-width: $breakSml) {
    font-size: 33px;
    text-indent: -2px;
    padding-bottom: 16px;
    margin-bottom: 22px;
  }
}

.work__title-link {
  color: $primary;
  font-weight: bold;
}

// Content
// ----------------------------------------- //
.work__content-row {
  @include row;
  position: relative;

  .meta {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    @media (max-width: $breakLrg) {
      position: relative;
    }
  }
}

// Body
// ----------------------------------------- //
.work__body {
  @include columns(8);
  @include offset(2);
  position: relative;

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}

// Description
// ----------------------------------------- //
.work__description {
  line-height: 1.5;
  position: relative;
  z-index: 10;

  @media (max-width: $breakSml) {
    line-height: 1.3;
    margin-bottom: 5px;
  }
}
.work__description-link {

}
.work__description-icon {
  fill: $primary;
  margin-left: 8px;
  position: relative;
  top: -1px;
}

// Index
// ----------------------------------------- //
.work__index {
  font-family: $sans;
  font-weight: bold;
  font-size: 226px;
  color: #31312a;
  line-height: 0;
  margin: 0 0 0 -9px;
  line-height: 0.9;
  position: absolute;
  z-index: 1;

  @media (max-width: $breakSml) {
    display: none;
  }
}

// Featured image
// ----------------------------------------- //
.work__featured-image-row {
  margin: 0 -66px;
  position: relative;
  z-index: 5;

  @media (max-width: $breakSml) {
    margin: 0 -25px;
  }
}

.post__content .work__featured-image-row {
  margin-bottom: -60px;

  @media (max-width: $breakSml) {
    margin-bottom: -30px;
  }
}
.work__featured-image {
  text-align: right;
  position: relative;

  svg,
  img {
    right: -94px;
    width: 100%;
  }

  svg {
    position: relative;
    z-index: 1;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  img {
    position: absolute;
    top: 0;
    z-index: 2;
  }

  &.is-loaded {
    svg {
      opacity: 0;
    }
  }

  @media (max-width: $breakLrg) {
    text-align: center;
    svg,
    img {
      right: 0;
    }
  }
}
