.work-list {

}
.work-list__work {

}

// work
// -------------------------------------------------------------------------- //
.work {
  margin-bottom: 60px;

  @media (max-width: $breakMedLarge) {
    // margin-bottom: 0px;
  }
}

.work__title-row {
  @include row;
}
.work__title-column {
  @include columns(8);
  @include offset(2);

  @media (max-width: $breakMedLarge) {
    @include columns(10);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}
.work__client {
  font-size: 21px;
  font-family: $sans;
  font-weight: bold;
  color: $white;
  margin-bottom: 10px;

  &.is-nda {
    text-decoration: line-through;
  }
}
.work__title {
  position: relative;
  padding-bottom: 29px;
  margin-bottom: 20px;
  font-size: 53px;
  font-family: $sans;
  font-weight: bold;
  color: $white;
  text-indent: -3px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 2px;
    background-color: $dash;
  }
}


.work__title-link {
  color: $primary;
  font-weight: bold;
}
.work__content-row {
  @include row;
  position: relative;

  .meta {
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: $breakMed) {
      position: relative;
    }
  }
}

.work__body {
  @include columns(8);
  @include offset(2);

  @media (max-width: $breakMedLarge) {
    @include columns(10);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}

// Description
// ----------------------------------------- //
.work__description {
  line-height: 1.5;
}
.work__description-link {

}
.work__description-icon {
  fill: $primary;
  margin-left: 8px;
  position: relative;
  top: -1px;
}

// Index
// ----------------------------------------- //
.work__index {
  font-family: $sans;
  font-weight: bold;
  font-size: 226px;
  color: #31312a;
  line-height: 0;
  margin: 0 0 0 -9px;
  line-height: 0.9;
  position: absolute;
}

// Featured image
// ----------------------------------------- //
.work__featured-image-row {
  margin: 0 -66px;
}
.work__featured-image {
  text-align: right;
  position: relative;
  img {
    position: relative;
    right: -94px;
    width: 100%;
  }

  @media (max-width: $breakMed) {
    text-align: center;
    img {
      right: 0;
    }
  }
}
