{{ partial "start-page" . }}
  <main>
    <div class="page-intro">
      <div class="page-intro__content">
        <h1 class="page-intro__title">About</h1>
        <p class="page-intro__description">{{.Description}}</p>
      </div>
    </div>

    <div class="home-section">
      <h2 class="home-section__title"><span>Where</span></h2>
      <div class="home-section__content">
        <p>Director of Development at <a href="http://sisumedia.com" target="_blank">Sisu</a><br> Los Angeles, CA</p>
      </div>
    </div>

    <div class="home-section">
      <h2 class="home-section__title"><span>Working On</span></h2>
      <div class="home-section__content">
        <ul>
          <li>SPA React App that streamlines the manual process of filling out insurance forms</li>
          <li>React Native app to help you make a good cocktail</li>
          <li>Static site build and deploy pipeline for an internal global information security and privacy website for a large multinational conglomerate corporation</li>
          <li>React Native betting app</li>
          <li>iPad app prototype for online community built using web technologies</li>
          <li>Front-end flat build for WU</li>
        </ul>
        <p class="home-section__cta">
          <a href="#" class="home-section__cta-link">View Select Works{{ partial "svgs/arrow.svg" (dict "class" "home-section__cta-icon")}}</a>
        </p>
      </div>
    </div>

    <div class="home-section">
      <h2 class="home-section__title"><span>Worked With</span></h2>
      <div class="home-section__content">
        <ul class="home-logos__list">
          <li class="home-logos__item">Sony</li>
          <li class="home-logos__item">DC Comics</li>
          <li class="home-logos__item">Western Union</li>
          <li class="home-logos__item">Disney</li>
          <li class="home-logos__item">Starz</li>
          <li class="home-logos__item">Buick</li>
          <li class="home-logos__item">American Express</li>
          <li class="home-logos__item">Golden Globe Awards</li>
          <li class="home-logos__item">Paramount</li>
          <li class="home-logos__item">Fear Net</li>
          <li class="home-logos__item">PacSun</li>
          <li class="home-logos__item">Corsair</li>
          </ul>
      </div>
    </div>

    {{ .Content }}

  </main>
{{ partial "end-page" . }}
