@mixin row {
  display: flex;
  margin: 0 (-$gutterWidthPx/2);
  // justify-content: space-between;
}

@mixin columns($numberOfColumns) {
  flex: 0 0 auto;
  margin: 0 $gutterWidthPx/2;
  width: (((($columnWidth * $numberOfColumns) + (($numberOfColumns - 1) * $gutterWidth)) / $contentWidth) * 100) * 1%;
}

@mixin offset($numberOfColumns) {
  margin-left: (((($columnWidth * $numberOfColumns) + ($numberOfColumns * $gutterWidth) + ($gutterWidth / 2)) / $contentWidth) * 100) * 1%;
}
