{{ partial "start-page" . }}
<main>
  <div class="page-intro">
    <div class="page-intro__content">
      <h1 class="page-intro__title">{{.Title}}</h1>
      <p class="page-intro__description">{{.Description}}</p>
    </div>
  </div>
  <div class="article-list">
    {{ range .Data.Pages }}
      <section class="article-list__article article">
        <div class="article__title-row">
          <div class="article__title-column">
            <h1 class="article__title article__title--small">
              <a class="article__title-link" href="{{.Permalink}}">{{.Title}}</a>
            </h1>
          </div>
        </div>
        <div class="article__content">
          <aside class="meta">
            <div class="meta__item">
              <h3 class="meta__title">Date</h3>
              <p class="meta__details">{{.Date.Format "2006-01-02"}}</p>
            </div>
            <div class="meta__item">
              <h3 class="meta__title">Tags</h3>
              <p class="meta__details">
                {{ $length := (len .Params.tags)}}
                {{ range $index, $tag := .Params.tags }}
                  {{ $tag }}{{ if not (eq (add $index 1) $length) }},{{ end }}
                {{ end }}
              </p>
            </div>
          </aside>
          <p class="article__description">{{.Description}} <a class="article__description-link" href="{{.Permalink}}">{{ partial "svgs/arrow.svg" (dict "class" "article__description-icon")}}</a></p>
        </div>
      </section>
    {{ end }}
  </div>
</main>
{{ partial "end-page" . }}
