{{ partial "start-page" . }}
<main>
  <div class="page-intro">
    <div class="page-intro__content">
      <h1 class="page-intro__title">{{.Title}}</h1>
      <p class="page-intro__description">{{.Description}}</p>
    </div>
  </div>
  <div class="post-list post-list--short">
    {{ range .Data.Pages }}
      <section class="post-list__post post">
        <div class="post__title-row">
          <div class="post__title-column">
            <h1 class="post__title post__title--small">
              <a class="post__title-link" href="{{.Permalink}}">{{.Title}}</a>
            </h1>
          </div>
        </div>
        <div class="post__content">
          <aside class="meta">
            <div class="meta__item meta__item--date">
              <h3 class="meta__title">Date</h3>
              <ul class="meta__details">
                <li class="meta__detail">{{.Date.Format "2006-01-02"}}</li>
              </ul>
            </div>
            {{ if .Params.tags }}
            <div class="meta__item meta__item--tags">
              <h3 class="meta__title">Tags</h3>
              <ul class="meta__details">
                {{ range .Params.tags }}
                  <li class="meta__detail">{{.}}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </aside>
          <div class="post__body">
            <p class="post__description">{{.Description}} <a class="post__description-link" href="{{.Permalink}}">{{ partial "svgs/arrow.svg" (dict "class" "post__description-icon")}}</a></p>
          </div>
        </div>
      </section>
    {{ end }}
  </div>
</main>
<link rel="stylesheet" type="text/css" href="{{ "css/articles.css" | relURL }}"/>
{{ partial "end-page" . }}
