{{ partial "start-page" . }}
<main>
  <div class="page-intro">
    <div class="page-intro__content">
      <h1 class="page-intro__title">{{.Title}}</h1>
      <p class="page-intro__description">{{.Description}}</p>
    </div>
  </div>
  <div class="article-list">
    {{ range .Data.Pages }}
      <section class="article-list__article article">
        <div class="article__title-container">
          <h1 class="article__title article__title--small">
            <a class="article__title-link" href="{{.Permalink}}">{{.Title}}</a>
          </h1>
        </div>
        <div class="article__content">
          <aside class="article-meta">
            <div class="article-meta__item">
              <h3 class="article-meta__title">Date</h3>
              <p class="article-meta__details">{{.Date.Format "2006-01-02"}}</p>
            </div>
            <div class="article-meta__item">
              <h3 class="article-meta__title">Tags</h3>
              <p class="article-meta__details"><a href="#">CSS</a>, <a href="#">Dev</a></p>
            </div>
          </aside>
          <p class="article__description">{{.Description}} <a class="article__description-link" href="{{.Permalink}}">More</a></p>
        </div>
      </section>
    {{ end }}
  </div>
</main>
{{ partial "end-page" . }}
