.site-footer {
  font-size: 16px;
  font-family: $sans;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 70px;
  bottom: 33px;
  right: 70px;
  z-index: 2;
  line-height: 1.2;
}
.site-footer__connect {
  display: flex;
}
.site-footer__connect-option {
  background-color: $background;
  padding: 0 10px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}
.site-footer__copyright {
  text-align: right;
  background-color: $background;
  padding: 0 10px;
}
.site-footer__label {
  font-weight: bold;
  color: $white;
  margin-bottom: 3px;
}
.site-footer__item {

}

