.site-footer {
  font-size: 16px;
  font-family: $sans;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 120px;
  right: 120px;
  bottom: 59px;
  z-index: 2;
  line-height: 1.2;

  @media (max-width: $breakMed) {
    left: 90px;
    right: 90px;
    bottom: 43px;
  }
}
.site-footer__connect {
  display: flex;
}
.site-footer__connect-option {
  background-color: $background;
  padding: 0 10px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}
.site-footer__copyright {
  text-align: right;
  background-color: $background;
  padding: 0 10px;
}
.site-footer__label {
  font-family: $cond;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 2px;
}
.site-footer__item {

}

