.site-header {
  position: absolute;
  top: 44px;
  left: 120px;
  right: 120px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.site-header__logo {
  background-color: $background;
  padding: 0 10px;
  svg {
    fill: $primary;
  }
}
.site-header__logo-link {

}
