// Body
// ----------------------------------------- //
.markdown {
  line-height: 1.5;

  @media (max-width: $breakSml) {
    line-height: 1.3;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-family: $sans;
    font-weight: bold;
    color: $white;
  }

  h1 {

  }
  h2 {
    margin-top: 56px;
    font-size: 34px;
  }
  h3 {
    margin-top: 31px;
    font-size: 26px;
  }
  h4 {

  }
  h5 {

  }
  h6 {

  }

  p, ol, ul {
    margin-bottom: 22px;
  }

  p {
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: circle;
  }
  li {
    margin: 0 0 14px 30px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  img {
    width: 100%;
    margin: 10px 0;
  }

  code {
    font-family: $mono;
    background-color: lighten($background,9%);
    padding: 4px 5px 2px;
    font-size: 18px;
  }

  pre {
    font-family: $mono;
    background-color: lighten($background,9%) !important;
    padding: 14px 18px;
    margin: 38px 0;
    overflow: auto;

    span {
      background-color: lighten($background,9%) !important;
    }

    code {
      padding: 0;
    }
  }
  .highlight {

  }

  @media (max-width: $breakSml) {
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.2;
    }

    h1 {

    }
    h2 {
      margin-top: 46px;
      font-size: 24px;
    }
    h3 {
      margin-top: 21px;
      font-size: 16px;
    }
    h4 {

    }
    h5 {

    }
    h6 {

    }

    p, ol, ul {
      // margin-bottom: 22px;
    }

    p {
    }

    ol {
      // list-style: decimal;
    }
    ul {
      // list-style: disc;
    }
    li {
      // margin: 0 0 14px 30px;
    }

    strong {
      // font-weight: bold;
    }

    em {
      // font-style: italic;
    }

    img {
      // width: 100%;
      // margin: 10px 0;
    }

    code {
      // font-family: $mono;
      // background-color: lighten($background,9%);
      padding: 2px 2.5px 1px;
      font-size: 15px;
    }

    pre {
      // font-family: $mono;
      // background-color: lighten($background,9%) !important;
      padding: 10px 14px;
      margin: 28px 0;
      // overflow: auto;

      span {
        // background-color: lighten($background,9%) !important;
      }

      code {
        // padding: 0;
      }
    }
    .highlight {

    }
  }

}
