// Meta
// -------------------------------------------------------------------------- //
.meta {
  @include columns(2);
  line-height: 1.3;
  padding-top: 8px;

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
    margin-bottom: 20px;
    display: flex;
    padding-top: 0;
  }

  @media (max-width: $breakMed) {
    width: 100%;
    margin-left: 0;
  }

  @media (max-width: $breakSml) {
    display: block;
    margin-bottom: 22px;
  }
}
.meta__item {
  &:not(:last-child) {
    margin-bottom: 19px;
  }

  @media (max-width: $breakLrg) {
    margin-right: 30px;
  }

  @media (max-width: $breakSml) {
    margin-right: 0;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.meta__title {
  font-size: 20px;
  color: $white;
  font-family: $cond;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (max-width: $breakLrg) {
    display: inline-block;
    margin-right: 5px;
  }

  @media (max-width: $breakSml) {
    font-size: 16px;
    margin-right: 9px;
    min-width: 44px;
  }
}
.meta__details {
  font-size: 16px;

  @media (max-width: $breakLrg) {
    display: inline-block;
    margin-top: 2px;
  }

  @media (max-width: $breakSml) {
    margin-top: -2px;
  }
}

.meta__detail {
  @media (max-width: $breakLrg) {
    display: inline-block;

    &:not(:last-child){
      margin-right: 1.5px;

      &:after {
        content: ",";
      }
    }
  }
}
