// Meta
// -------------------------------------------------------------------------- //
.meta {
  @include columns(2);
  line-height: 1.3;
  padding-top: 5px;

  @media (max-width: $breakMed) {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
  }
}
.meta__item {
  margin-bottom: 19px;

  @media (max-width: $breakMed) {
    margin-right: 30px;
  }
}
.meta__title {
  font-size: 20px;
  color: $white;
  font-family: $cond;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (max-width: $breakMed) {
    display: inline-block;
    margin-right: 5px;
  }
}
.meta__details {
  font-size: 16px;

  @media (max-width: $breakMed) {
    display: inline-block;
    margin-top: 2px;
  }
}

.meta__detail {
  @media (max-width: $breakMed) {
    display: inline-block;

    &:not(:last-child){
      margin-right: 6px;

      &:after {
        content: ",";
      }
    }
  }
}
