.site-nav {
  // display: flex;
  // align-items: center;
}
.site-nav__list {
  // line-height: 0;
  display: flex;
}
.site-nav__item {
  line-height: 2;
  background-color: $background;
  padding: 0 10px;
}
.site-nav__link {
  font-family: $sans;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &.is-current {

  }
}
