.site-nav {

}
.site-nav__list {
  display: flex;
}
.site-nav__item {
  line-height: 1.6;
  background-color: $background;
  padding: 0 10px;

  &:not(:first-child) {
    margin-left: 20px;
  }

  @media (max-width: $breakSml) {
    padding: 0 5px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  @media (max-width: $breakXSml) {
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
.site-nav__link {
  font-family: $cond;
  font-size: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &.is-active {
    color: $white;
  }

  @media (max-width: $breakSml) {
    font-size: 19px;
  }

  @media (max-width: $breakXSml) {
    font-size: 18px;
  }
}
