.site-nav {
  // display: flex;
  // align-items: center;
}
.site-nav__list {
  // line-height: 0;
  display: flex;
}
.site-nav__item {
  line-height: 1.6;
  background-color: $background;
  padding: 0 10px;

  &:not(:first-child) {
    margin-left: 20px;
  }
}
.site-nav__link {
  font-family: $cond;
  font-size: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &.is-active {
    color: $white;
  }
}
