.page-intro {
  @include row;
  margin-bottom: 100px;
}
.page-intro__content {
  @include columns(8);
  @include offset(2);

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}
.page-intro__title {
  font-size: 105px;
  color: $white;
  font-family: $cond;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 20px;
  letter-spacing: 1px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 4px;
    background-color: $dash;
  }
}
.page-intro__description {
  font-size: 28px;
  font-style: italic;
  line-height: 1.4;
}
