.page-intro {
  @include row;
  margin-bottom: 100px;

  @media (max-width: $breakSml) {
    margin-bottom: 50px;
  }
}
.page-intro__content {
  @include columns(8);
  @include offset(2);

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}
.page-intro__title {
  font-size: 105px;
  color: $white;
  font-family: $cond;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 22px;
  letter-spacing: 1px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 4px;
    background-color: $dash;
  }

  @media (max-width: $breakSml) {
    font-size: 52px;
    padding-bottom: 11px;
    margin-bottom: 18px;

    &:after {
    }
  }
}
.page-intro__description {
  font-size: 28px;
  font-style: italic;
  line-height: 1.4;

  @media (max-width: $breakSml) {
    font-size: 19px;
    line-height: 1.2;
  }
}
