.post-list {
  .meta {
    position: absolute;
    z-index: 10;
  }

  @media (max-width: $breakLrg) {
    .meta {
      position: relative;
    }
  }

  @media (max-width: $breakSml) {
    .meta {
      display: none;
    }
  }
}
.post-list__post {

}

// post
// -------------------------------------------------------------------------- //
.post {
  margin-bottom: 100px;

  @media (max-width: $breakSml) {
    margin-bottom: 26px;
  }
}

// Row
// ----------------------------------------- //
.post__title-row {
  @include row;
}
.post__title-column {
  @include columns(8);
  @include offset(2);

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}

// Title
// ----------------------------------------- //
.post__title {
  position: relative;
  padding-bottom: 29px;
  margin-bottom: 20px;
  font-size: 53px;
  font-family: $sans;
  font-weight: bold;
  color: $white;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 2px;
    background-color: $dash;
  }

  @media (max-width: $breakSml) {
    font-size: 28px;
    padding-bottom: 16px;
    margin-bottom: 17px;
  }

}

.post__title--small {
  font-size: 33px;

  @media (max-width: $breakSml) {
    font-size: 24px;
  }
}


.post__title-link {
  color: $primary;
  font-weight: bold;
}
.post__content {
  @include row;
  .post__column:first-of-type > *:first-child {
    margin-top: 0;
  }
}
.post__description {
  line-height: 1.5;

  @media (max-width: $breakSml) {
    line-height: 1.3;
  }
}

// Description
// ----------------------------------------- //
.post__description-link {

}
.post__description-icon {
  fill: $primary;
  margin-left: 8px;
  position: relative;
  top: -1px;
}

.post__title-description {
  font-size: 20px;
  font-style: italic;
  line-height: 1.4;

  @media (max-width: $breakSml) {
    font-size: 18px;
    line-height: 1.2;
  }
}

// Columns and body
// ----------------------------------------- //
.post__column,
.post__body {
  @include columns(8);
  @include offset(2);

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}

.post__column-full {
  @include columns(12);
}

.post__column-right {
  @include columns(10);
  @include offset(2);

  @media (max-width: $breakLrg) {
    @include columns(11);
    @include offset(1);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }
}

.post__column-left {
  @include columns(10);

  @media (max-width: $breakLrg) {
    @include columns(11);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
  }
}
