.home-section {
  @include row;
  margin-bottom: 100px;
}
.home-section__title {
  @include columns(2);
  // flex: 0 0 190px;
  padding-top: 4px;

  span {
    font-size: 20px;
    color: $white;
    font-family: $sans;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding-bottom: 16px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 24px;
      height: 2px;
      background-color: $dash;
    }
  }

}
.home-section__content {
  // flex: 0 0 740px;
  @include columns(8);
  line-height: 1.5;

  p {

  }
  ul {

  }
  li {

  }
}

.home-article-list {
  margin-top: -5px;
}
.home-article-list__article {
  margin-bottom: 20px;
}
.home-article__title {

}
.home-article__title-link {
  font-size: 21px;
  font-family: $sans;
  font-weight: bold;
}
.home-article__date {
  font-style: italic;
  font-size: 15px;
}
