.home-section {
  @include row;
  margin-bottom: 71px;

  @media (max-width: $breakSml) {
    margin-bottom: 21px;
  }
}
.home-section:not(:last-child) {
}

.home-section--logos {
  padding-top: 22px;

  @media (max-width: $breakLrg) {
    padding-top: 0;
  }
}

.home-section__title {
  @include columns(2);
  // flex: 0 0 190px;
  padding-top: 4px;

  span {
    font-size: 25px;
    color: $white;
    font-family: $cond;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-bottom: 16px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 24px;
      height: 2px;
      background-color: $dash;
    }
  }

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
    padding-bottom: 20px;
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
    padding-top: 0;
  }

  @media (max-width: $breakSml) {
    padding-bottom: 16px;
    span {
      font-size: 24px;
      padding-bottom: 12px;
      &:after {

      }
    }
  }
}

// Where
// Current Projects
// ----------------------------------------- //
.home-section__content {
  // flex: 0 0 740px;
  @include columns(8);
  line-height: 1.5;
  margin-bottom: 22px;

  @media (max-width: $breakLrg) {
    @include columns(10);
    @include offset(1);
  }

  @media (max-width: $breakMed) {
    @include columns(12);
    margin-left: 0;
  }

  @media (max-width: $breakSml) {
    line-height: 1.3;
  }

  p, ol, ul {
    // margin-bottom: 22px;
  }

  p {

  }
}
.home-section__list {
  list-style: circle;
  margin-bottom: 22px;
}
.home-section__item {
  margin: 0 0 14px 30px;
}

// Articles
// ----------------------------------------- //
.home-article-list {
  margin-top: -5px;
}
.home-article-list__article {
  margin-bottom: 22px;
}
.home-article__title {
  @media (max-width: $breakSml) {
    line-height: 0.9;
    margin-bottom: 6px;
  }
}
.home-article__title-link {
  font-size: 24px;
  font-family: $sans;
  font-weight: bold;

  @media (max-width: $breakSml) {
    font-size: 19px;
  }
}
.home-article__date {
  font-style: italic;
  font-size: 15px;
}

// CTA
// ----------------------------------------- //
.home-section__cta {
  @media (max-width: $breakSml) {
    font-size: 15px;
    margin-bottom: 2px;
  }
}
.home-section__cta-link {
  font-size: 17px;
  font-family: $sans;
  font-weight: bold;

  @media (max-width: $breakSml) {
    font-size: 15px;
  }
}
.home-section__cta-icon {
  position: relative;
  top: -1px;
  fill: $primary;
  margin-left: 8px;
}

// Logos
// ----------------------------------------- //
.home-logos__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -32px;

  @media (max-width: $breakLrg) {
    margin-top: 0;
  }
}
.home-logos__item {
  margin-bottom: 10px;
  text-align: center;
  flex: 1 1 auto;

  @media (max-width: $breakSml) {
    flex-basis: 50%;
  }
}
.home-logos__logo {
  fill: $white;
  height: auto;

  @media (max-width: $breakSml) {
    max-width: 100%;
  }
}
