<footer class="site-footer">
  <div class="site-footer__connect">
    <div class="site-footer__connect-option">
      <h2 class="site-footer__label">Email</h2>
      <p class="site-footer__item"><a href="mailto:me@stevenwaller.io">me@stevenwaller.io</a></p>
    </div>
    <div class="site-footer__connect-option">
        <h2 class="site-footer__label">Connect</h2>
        <p class="site-footer__item"><a href="https://twitter.com/stevenwaller" target="_blank">Twitter</a>, <a href="https://github.com/stevenwaller" target="_blank">GitHub</a>, <a href="https://dribbble.com/stevenwaller" target="_blank">Dribble</a>, <a href="https://www.linkedin.com/in/stevenwaller/" target="_blank">LinkedIn</a></p>
      </div>
  </div>
  <div class="site-footer__copyright">
    <h2 class="site-footer__label"><span>©</span>2018</h2>
    <p class="site-footer__item">Steven Waller</p>
  </div>
</footer>
