{{ partial "start-page" . }}
  <main>
    <div class="page-intro">
      <div class="page-intro__content">
        <h1 class="page-intro__title">Steven Waller</h1>
        <p class="page-intro__description">{{ .Description }}</p>
      </div>
    </div>

    <div class="home-section">
      <h2 class="home-section__title"><span>Where</span></h2>
      <div class="home-section__content">
        <p>Senior Front-End Engineer at <a href="https://emoneyadvisor.com/" target="_blank">eMoney</a>, working remotely in Asheville, NC</p>
        <p><em>Former Director of Development at <a href="http://sisumedia.com" target="_blank">Sisu</a></em></p>
      </div>
    </div>

    <div class="home-section">
      <h2 class="home-section__title"><span>Working On</span></h2>
      <div class="home-section__content">
        <ul class="home-section__list">
          <li class="home-section__item"><a href="https://beta.emacontent.com/kyber/latest/" target="_blank">Kyber</a> a React Component Library at <a href="https://emoneyadvisor.com/" target="_blank">eMoney</a>.</li>
          <li class="home-section__item">Web component build with <a href="https://lit.dev/" target="_blank">Lit</a> to help users connect their bank accounts to <a href="https://emoneyadvisor.com/" target="_blank">eMoney</a></li>
          <li class="home-section__item">iOS and Android cocktail recipe app built with React Native and an <a href="https://supabase.com/" target="_blank">Supabase</a> backend.</li>
        </ul>
        <p class="home-section__cta">
          <a href="/work" class="home-section__cta-link">View Select Works{{ partial "svgs/arrow.svg" (dict "class" "home-section__cta-icon")}}</a>
        </p>
      </div>
    </div>

    <div class="home-section">
      <h2 class="home-section__title"><span>Writing</span></h2>
      <div class="home-section__content">
        <div class="home-article-list">
          {{ range first 4 (where .Data.Pages "Section" "articles")}}
            <section class="home-article-list__article">
              <h1 class="home-article__title">
                <a class="home-article__title-link" href="{{.Permalink}}">{{.Title}}</a>
              </h1>
              <p class="home-article__date">{{.Date.Format "2006-01-02"}}</p>
            </section>
          {{ end }}
        </div>
        <p class="home-section__cta">
          <a href="/articles" class="home-section__cta-link">View All Articles{{ partial "svgs/arrow.svg" (dict "class" "home-section__cta-icon")}}</a>
        </p>
      </div>
    </div>

    <div class="home-section home-section--logos">
      <h2 class="home-section__title"><span>Worked With</span></h2>
      <div class="home-section__content">
        <ul class="home-logos__list">
          <li class="home-logos__item">{{ partial "svgs/logos/sony.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/dc.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/wu.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/disney.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/starz.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/buick.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/amex.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/golden-globes.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/paramount.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/yahoo.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/pacsun.svg" (dict "class" "home-logos__logo")}}</li>
          <li class="home-logos__item">{{ partial "svgs/logos/corsair.svg" (dict "class" "home-logos__logo")}}</li>
          </ul>
      </div>
    </div>

    {{ .Content }}

  </main>
  <link rel="stylesheet" type="text/css" href="{{ "css/home.css" | relURL }}"/>
{{ partial "end-page" . }}
