{{ partial "start-page" . }}
<main>
  <div class="page-intro">
    <div class="page-intro__content">
      <h1 class="page-intro__title">{{.Params.page_title}}</h1>
      <p class="page-intro__description">{{.Description}}</p>
    </div>
  </div>
  <div class="work-list">
    {{ range .Data.Pages }}
      <section class="work-list__work work">
        <div class="work__title-row">
          <div class="work__title-column">
            <h1 class="work__title">
              <a class="work__title-link" href="{{.Permalink}}">{{.Title}}</a>
            </h1>
          </div>
        </div>
        <div class="work__content-row">
          <aside class="meta">
            <div class="meta__item">
              <h3 class="meta__title">Year</h3>
              <ul class="meta__details">
                <li class="meta__detail">{{.Params.year}}</li>
              </ul>
            </div>
            <div class="meta__item">
              <h3 class="meta__title">Role</h3>
              <ul class="meta__details">
                {{ range .Params.roles }}
                  <li class="meta__detail">{{.}}</li>
                {{ end }}
              </ul>
            </div>
            {{ if .Params.agency }}
            <div class="meta__item">
              <h3 class="meta__title">Agency</h3>
              <ul class="meta__details">
                <li class="meta__detail">{{.Params.agency}}</li>
              </ul>
            </div>
            {{ end }}
            <div class="meta__item">
              <h3 class="meta__title">Tools</h3>
              <ul class="meta__details">
                {{ range .Params.tools }}
                  <li class="meta__detail">{{.}}</li>
                {{ end }}
              </ul>
            </div>
          </aside>
          <div class="work__body">
            <p class="work__description">{{.Description}} <a class="work__description-link" href="{{.Permalink}}">{{ partial "svgs/arrow.svg" (dict "class" "work__description-icon")}}</a></p>
            <p class="work__index">{{ .Params.index }}</p>
          </div>
        </div>
        <div class="work__featured-image-row">
          <p class="work__featured-image work__featured-image--{{.File.BaseFileName}}">
            <img src="{{.Params.featured_image | relURL}}" alt="Collection of apple devices with the website on each screen">
          </p>
        </div>
      </section>
    {{ end }}
  </div>
</main>
<link rel="stylesheet" type="text/css" href="{{ "css/work.css" | relURL }}"/>
{{ partial "end-page" . }}
