{{ partial "start-page" . }}
<section class="post-list post-list--single">
  <div class="post-list__post post">
    <div class="post__title-row">
      <div class="post__title-column">
        <h1 class="post__title">{{.Title}}</h1>
      </div>
    </div>
    <div class="post__content">
      <aside class="meta">
        <div class="meta__item">
          <h3 class="meta__title">Year</h3>
          <ul class="meta__details">
            <li class="meta__detail">{{.Params.year}}</li>
          </ul>
        </div>
        <div class="meta__item">
          <h3 class="meta__title">Role</h3>
          <ul class="meta__details">
            {{ range .Params.roles }}
              <li class="meta__detail">{{.}}</li>
            {{ end }}
          </ul>
        </div>
        {{ if .Params.agency }}
        <div class="meta__item">
          <h3 class="meta__title">Agency</h3>
          <ul class="meta__details">
            <li class="meta__detail">{{.Params.agency}}</li>
          </ul>
        </div>
        {{ end }}
        <div class="meta__item">
          <h3 class="meta__title">Tools</h3>
          <ul class="meta__details">
            {{ range .Params.tools }}
              <li class="meta__detail">{{.}}</li>
            {{ end }}
          </ul>
        </div>
      </aside>
      <div class="markdown post__column">
        <p class="post__title-description">{{.Description}}</p>
        <p class="work__index">{{ .Params.index }}</p>
      </div>
      <div class="work__featured-image-row">
        <p class="work__featured-image work__featured-image--{{.File.BaseFileName}}">
            {{ if .Params.featured_image_placeholder }}
            {{ partial .Params.featured_image_placeholder (dict "class" "work__featured-placeholder")}}
          {{ end }}
          {{ if .Params.featured_image_2x }}
            <picture>
              <source srcset="{{.Params.featured_image_small | relURL}}, {{.Params.featured_image | relURL}} 2x" media="(max-width: 700px)">
              <img src="{{.Params.featured_image | relURL}}" srcset="{{.Params.featured_image | relURL}}, {{.Params.featured_image_2x | relURL}} 2x" alt="Collection of apple devices with the website on each screen">
            </picture>
          {{ else }}
            <img src="{{.Params.featured_image | relURL}}" alt="Collection of apple devices with the website on each screen">
          {{ end }}
        </p>
      </div>

      {{ .Content }}
    </div>
  </div>
</section>

<link rel="stylesheet" type="text/css" href="{{ "css/work.css" | relURL }}"/>
{{ partial "end-page" . }}

